<div class="container-fluid text-center">

    <h1>{{title}}</h1>

    <div class="row btn-group">
        <button class="btn btn-success" ng-click="startEvolution()">Start</button>
        <button class="btn btn-danger" ng-click="stopEvolution()">Stop</button>
        <button class="btn btn-default" ng-click="getNextStatusOfWorld()">Step</button>
    </div>

    <input type="number" ng-model="worldDimension" name="worldDimension" min="0" required="string"/>

    <div class="row">
        <div class="board">
            <div class="row-in-world" ng-repeat="cellrow in world track by $index">
                <div class="cell-container" ng-repeat="cell in cellrow track by $index">
                    <div class="cell" ng-class="{'true': cell, 'false': !cell}" ng-click="cell = !cell;"></div>
                </div>
            </div>
        </div>
    </div>

</div>
