body {
    padding: 20px;
    background-color: black;
}

h1 {
    color: white;
    font-family: Menlo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 25px;
}

.row-in-world {
    margin-bottom: -4px;
}

.cell-container {
    display: inline-block;
}

.cell {
    height: 15px;
    width: 15px;
    margin: 1px;
    border-radius: 20%;
}

.true {
    background-color: white;
}

.false {
    background-color: cadetblue;
}
